* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.form-container {
  width: 300px;
  margin: 0 auto;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: #590808;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}