* {
  box-sizing: border-box;
}
:root {
  --color-dark: #1d2124;
  --color-light: #DFDFDF;
  --color-blue: #007bff;
  --color-base: #ffffff;
  --margin-medium: 16px;
  --margin-large: 20px;
}

body {
  margin:0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
}

.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--color-light);
  padding: var(--margin-medium) var(--margin-large);
  margin-bottom: 16px;
  box-shadow: 0px 2px 10px #a2a0a04c;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: var(--color-dark);
  font-size: 16px;
}

.menu-link {
  text-decoration: none;
  padding: 12px;
}
.menu-link:hover{
  text-decoration: underline;
}

.logo {
  padding: 10px;
  font-size: 20px;
  color: #212529;
  white-space: nowrap;
  justify-content: start;
}

.hero {
  margin: 0 auto;
  padding: 8px 0;
  max-width: 800px;
}

.hero__heading {
  text-align: center;
  font-size: 56px;
  font-weight: 200;
  margin-bottom: 0;
}

.hero__text {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  padding: 0 15px;
}
.w-80 {
  width: 100%;
  max-width:80vw;
  margin:0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px solid var(--color-light);
  text-align: center;
  flex: 1;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 5px #00000013;
}

.card__list {
  padding: 0;
  list-style-type: none;
}

.card__header {
  border-bottom: 1px solid var(--color-light);
  margin: 0;
  padding: 10px 0;
  background-color: #F7F7F7;
  font-weight: 400;
  border-radius: 5px 5px 0 0;
}

.card__content {
  padding: 20px;
}

.card__price-amount {
  font-size: 40px;
  font-weight: 500;
}

.card__price-interval {
  font-size: 32px;
  color: #6c757d;
  font-weight: 400;
}

.button {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  display: block;
}

.button--outlined {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
}

.button--outlined:hover {
  background-color: var(--color-blue);
  color: var(--color-base);
}

.button--primary {
  color: var(--color-base);
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
}

.button--primary:hover {
  background-color: var(--color-base);
  color:var(--color-blue)
}

.extras {
  display: flex;
  justify-content: center;
  margin: 50px 10px;
  border: 20px 10px;
  border-top: 1px solid var(--color-light);
}

.bottom-list {
  margin: 0 auto;
  padding: 0 10px;
  flex: 1;
}

.extras-heading {
  font-size: 20px;
  font-weight: 500;
}


.extras-list {
  padding: 0;
  margin: 0;
}

.extras-link {
  list-style-type: none;

}

.extras-text {
  text-decoration: none;
  font-size: 16px;
  color: #6c757d;
  white-space: nowrap;

}

.extras-text:visited {
  color: #6c757d;

}

.extras-text:hover {
  text-decoration: underline;
}

.bsicon {
  margin-top: 25px;
}

.bootstrap-year {
  margin: 8px 0;
}

@media screen and (max-width:770px) {
  .navbar {
      display: flex;
      flex-direction: column;
      padding: 2px;
      height: 90px;
  }

  .company-link {
      font-size: 16px;
  }


  .right>ul {
      justify-content: center;
      margin: 0;
  }

  .pricing-header {
      margin-top: 5px;
      font-size: 40px;
  }

  .pricing-text {
      font-size: 16px;

  }

  .cards {
      flex-wrap: wrap;
      align-content: center;
  }

  .extras {
      flex-wrap: wrap;
  }

  .bottom-list {
      width: 50%;
  }

}