.card {
	color: var(--color-primary);
	text-align: center;
	background-color: var(--color-lighter);
	border-radius: 5px;
	width: 100%;
	max-width: 500px;
	margin: 20px auto;
	padding: 20px;
}

.card__text {
	color: var(--color-default);
}
