.login-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto;
  gap: 40px;
  font-size: 1.4rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group > label {
  font-size: 1.4rem;
  font-weight: 700;
}

.input-group > input {
  padding: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  border: 1px solid #848181;
}

.input-group > input.error {
  border-color: red;
}

.error-message {
  margin: 0;
  font-size: 1rem;
  color: red;
}

.btn-success {
  padding: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: 1px solid #4caf50;
}

.btn-success:hover {
  color: #4caf50;
  background-color: white;
}
